:root {
  --dark-blue: hsl(228, 39%, 23%);
  --bright-orange: hsl(12, 88%, 59%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
}

p {
  font-size: 0.875rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

header {
  padding: 3em 0 2em;
  background: url(images/bg-tablet-pattern.svg);
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  position: relative;
}

.logo {
  margin-top: 0.5em;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 2em;
  background: transparent;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hidden {
  display: none;
}

.nav {
  visibility: hidden;
  height: 0;
  width: 100%;
  position: absolute;
  margin: 1.3rem 0;
  padding: 0.8em 0;
  background: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 15px rgb(138, 138, 138));
  text-align: center;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
  transition: step-start;
}

.nav__list {
  list-style-type: none;
}

.nav__list--secondary {
  display: none;
}

.nav__item {
  margin: 1.5em 0;
}

.nav__link {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
}

.hero {
  padding: 2em 0;
  margin: 2.5rem auto;
}

.hero__image {
  margin: 0 0 2.5rem;
}

.hero__text {
  text-align: center;
}

.hero__title {
  font-size: 2.2rem;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

.hero__subtitle {
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  padding: 0.5em 1.5em;
  background: var(--bright-orange);
  border-radius: 100px;
  border: none;
  outline: none;
  color: var(--very-light-gray);
  text-decoration: none;
  font-size: 0.75rem;
  text-align: center;
}

.content__description {
  text-align: center;
  margin: 0 0 2.5rem;
}

.content__description--title {
  font-size: 1.8rem;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

.content__lists {
  line-height: 1.6;
}

.content__list + .content__list {
  margin: 2.2rem 0;
}

.content__list--heading {
  display: flex;
  align-items: center;
  background: var(--very-pale-red);
  border-radius: 100px 0 0 100px;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.content__list--title {
  line-height: 1.2;
  margin-left: 1rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.testimonials__section {
  margin: 3rem 0;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

.testimonials__title {
  font-size: 1.8rem;
  color: var(--dark-blue);
  margin-bottom: 3rem;
}

.slider {
  margin: 4rem auto 0;
  padding: 3.2em 0 0;
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.slider__arrow {
  position: absolute;
  top: 48%;
  width: 2rem;
  height: 2rem;
  z-index: 3;

  border-radius: 100%;
  background-color: var(--dark-grayish-blue);
  opacity: 0.6;
}

.slider__arrow--left {
  left: 0;
}

.slider__arrow--right {
  right: 0;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: transform 1.5s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial {
  background: var(--very-light-gray);
  margin-bottom: 1rem;
  padding: 0 1.2em 2em;
  line-height: 1.8;
  position: relative;
}

.user__image {
  height: 6rem;
  position: relative;
  top: -50px;
  border-radius: 100%;
}

.user__name {
  margin: -1.5em 0 1em;
  color: var(--dark-blue);
}

.dots {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--bright-orange);
  border-radius: 50%;
  margin: 0 0.125rem;
  cursor: pointer;
}

.dot.active {
  background-color: var(--bright-orange);
}

.cta {
  background: var(--bright-orange);
  padding: 3em 0;
  text-align: center;
}

.cta__text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.cta__btn {
  background: var(--very-light-gray);
  box-shadow: 0 0 10px var(--bright-orange);
  color: var(--bright-orange);
  font-weight: 600;
}

.footer {
  text-align: center;
  background: var(--very-dark-blue);
  padding: 2em 1em;
}

.footer__item {
  margin: 1.8rem 0;
}

.form {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.input {
  height: 2rem;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 50px;
  background: var(--very-light-gray);
}

.input__btn {
  font-weight: 600;
  width: 4rem;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.footer__list {
  line-height: 1.6;
  font-size: 0.875rem;
  list-style-type: none;
}

.footer__list--item + .footer__list--item {
  margin-top: 0.5rem;
}

.footer__link {
  text-decoration: none;
  color: var(--very-light-gray);
}

.socials {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.socials__image {
  width: 2rem;
}

/* 
//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/////////////////////////////////////

<!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
